.icon-busines {
  width: 0.85em;
  height: 1em;
  fill: none;
}
.icon-consultancy {
  width: 2.06em;
  height: 1em;
  fill: none;
}
.icon-education {
  width: 1.38em;
  height: 1em;
  fill: none;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-outsorcing {
  width: 0.82em;
  height: 1em;
  fill: none;
}
.icon-self {
  width: 1.12em;
  height: 1em;
  fill: none;
}
.icon-support {
  width: 1.11em;
  height: 1em;
  fill: none;
}
